
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik+Bubbles&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Titan+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 

Rubik Bubbles
Roboto
 */
:root{
    --light-color: white;
    --dark-color: black;
    --dark-green: rgb(7, 93, 7);
    --body-green: rgb(146, 229, 200);
    --foot-pale-green : #d1ffff;
    --border : 2px solid black;
    --fivepx : 5px;
    --tenpx : 10px;
    --thrirtypx : 30px;
    --black-trans: rgba(0, 0, 0, 0.4);
}

li{
    list-style-type: none;
 }

 a{
    text-decoration: none;
    color: blue;
 }

 body{
    background-color: var(--body-green);
    min-height: 300vh;
    /* margin-bottom: 5px; */
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 header{
    background-color: var(--body-green);
    /* background-color: blueviolet; */
    min-height: 120px;
    width: 100%;
    margin: 0px auto;
    /* border: var(--border); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    z-index: 1;
 }

 header .logo{
    width: 70px;
    height: 95%;
    margin-right: 10px;
    /* border: var(--border); */
    position: absolute;
    left: -80px;
    
 }

 header nav{
  
    width:80%;
    /* border: var(--border); */
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    margin-top: 5px;
    position: relative;
 }

nav ul{
    /* border: var(--border); */
    min-height: 50%;
    display: flex;
    justify-content: space-between;
    

}

.head_nav-sec1 li,
.head_nav-sec1 li a{
    display: flex;

}
.head_nav-sec1 li:first-child p:first-child{
    background-color: var(--dark-green);
    width: fit-content;
    font-size: 1.8rem;
    display: flex;
    align-items: end;
    padding-left: var(--fivepx);
    padding-right: var(--fivepx);
    color: var(--light-color);
    font-weight: bold;
    letter-spacing: 1px;
}

.head_nav-sec1 li:first-child a p:last-child{
    /* background-color: gray; */
    letter-spacing: 5px;
    padding: 0px 2px;
    color: var(--dark-green);
    display: flex;
    flex-direction: column;
    align-items: end;
   font-weight: 300 !important;
    justify-content: end;
    white-space: nowrap;
    font-size: 1.2rem;
    font-family: 'Titan One', sans-serif;    
}

.head_nav-sec1 li:first-child p:last-child span{
    letter-spacing: 1px;
    
}

.head_nav-sec1 li:last-child {
    /* background-color: red; */
    /* padding: 10px; */
    display: flex;
    justify-content: end;
    align-items: end;
    width: 30vw;
}

.head_nav-sec1 li:last-child input{
    height: 30px;
    width: 100%;
    padding: 0 10px;
    border: none;
    outline: none;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;

}

.head_nav-sec1 li:last-child input::placeholder
{
    color: gray;

}

.head_nav-sec1 li:last-child i{
   
    background-color: var(--light-color);
    height: 30px;
    line-height: 30px;
    border: none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    padding-right: 5px;
    color: gray;
    /* background-color: red; */

}

.head_nav-sec2
{
    background-color: var(--dark-green);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 40px;
    border-radius: 5px;
    /* background-color: red; */
    /* height: 60px; */
}

.head_nav-sec2 a{
    color: var(--light-color);
    font-size: medium;
    letter-spacing: 1px;
}

.d-block{
    display: block;
}

main{
    /* background-color: blueviolet; */
    width: 100%;
}

.main-sec-1 
{
    /* background-color: blue; */
    min-height: 98vh;
    width: 100%;
    /* border: var(--border); */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px; */
    position: relative;
    
}

.main-sec1-wallpaper
{
    height: 80vh;
    width: 100%;
    /* background-color: gray; */
   
    /* background-image: url('https://www.flowersforeveryone.com.au/images/petunia.jpg'); */

background-image: url('/images/main-wall/yellow-tulips.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}



.main-sec1-wallpaper h1
{
    color: var(--light-color);
    letter-spacing: 1px;
    font-size: 1.7rem;
    /* background-color: var(--black-trans); */
    width: 70%;
    height: 100px;
    margin-top: 40px;
    border-radius: 8px;
    display: grid;
    place-content: center;
    text-align: center;
    
}


.main-sec1-plants-types
{
    width: 70%;
    min-height: 60vh;
    background-color: var(--light-color);
    position: absolute;
    top: 220px;
    padding: 10px;
    /* border: 2px solid red; */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
} 


.main-sec1-plants-type-ul 
{
   width: 90%;
   height: 70%;
   /* border: var(--border); */
   display: flex;
   /* flex-direction: column; */
   justify-content: space-evenly;
   padding: 2px;
   /* border-color: blue; */
   overflow: hidden;
}

.main-sec1-plants-type-ul li
{
   /* border: var(--border); */
   width: 190px;
  
   display: grid;
   place-content: center;

}

.main-sec1-plants-type-ul li img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    /* margin-top: 10px; */

}

.main-sec1-plants-type-ul li figcaption
{
    display: grid;
    place-content: center;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--dark-green);
    margin-top: 10px;
    white-space: nowrap;
}

.main-sec1-plants-types
button{
     width: 100px;
     /* height: 15px; */
     padding: 8px 10px;
     color: var(--light-color);
     background-color: var(--dark-green);
     border-radius: 8px;
     border: none;
     outline: none;

}


/* section 2 starts */

.main-sec-2
{
    display: flex;
    padding: 50px 0px 0px 10px;
    width: 100%;
    min-height: 80vh;
    background-color: var(--dark-green);
    color: var(--light-color);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 10px;
    /* border: var(--border); */
    border-color: white;

}

.main-sec-2 a h3
{
    color: var(--light-color);
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.main-sec2-plant-types
{
   display: flex;
   column-gap: 20px;
   /* background-color: aqua; */
  padding: 20px;
width: 90%;
/* min-height: 400px; */
justify-content: space-evenly;
}

.main-sec2-plant-types li
{
   /* background-color: gray; */
   padding: 20px;
   width: 400px;
   min-height: 400px;
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 15px;
   font-size: 0.8rem;
}

.main-sec2-plant-types img
{
   width: 80%;
   height: 180px;
   /* background-color: gray; */
   border-radius: 5px;
}

.main-sec2-plant-types figcaption
{
   text-transform: uppercase;
   font-weight: bold;
 letter-spacing: 1px;
}

.main-sec2-plant-types a
{
   color: var(--light-color);
   text-decoration: underline;
   color: rgb(212, 236, 177);
}

.main-sec2-plant-types p
{
   text-align: center;
   width: 78%;
   padding-top: 20px;
   line-height: 22px;
}


.main-sec2-plant-types p span
{ 
    /* color: yellow; */
    text-transform: uppercase;

}

/* main - section 3  */

.main-sec-3
{
    /* background-color: blue; */
    /* margin: 20px; */
    height: 90vh;
    background-image: url('https://img.freepik.com/premium-photo/hand-holding-small-tree-planting-concept-green-world_34152-1480.jpg');

    background-image: url('https://images.unsplash.com/photo-1551301038-df7eca0bc0f3?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YWVzdGhldGljJTIwcGxhbnR8ZW58MHx8MHx8fDA%3D');

    background-image: url('../images/section3/rock-leaf-wallpaper.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--light-color);
    display: flex;
    align-items: center;
   justify-content: center;
   
}

.main-sec-3 ul{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}


.main-sec-3 li{
    /* border: var(--border); */
}

.main-sec-3 ul li:nth-child(2),
.main-sec-3 ul li:nth-child(3) 
{
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    column-gap: 30px;
}



.main-sec-3 ul li:nth-child(2) p i,
.main-sec-3 ul li:nth-child(3) p i
{
    background-color: green;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 20px;
}

.main-sec-3 ul li:nth-child(2) p i{
    background-color: green;

}


.main-sec-3 ul li:nth-child(3) p i{
    background-color: rgb(37, 167, 218);

}


.main-sec-3 ul li:first-child h1{
    /* color: red; */
    font-weight: lighter;
    font-size: 1.6rem;
    font-family: 'Paytone One', sans-serif;
    margin-bottom: 3px;
    letter-spacing: 1px;

}

.main-sec-3 ul li:first-child h3{
    /* color: red; */
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 3px;

}

.main-sec-3 ul li:nth-child(2) div,
.main-sec-3 ul li:nth-child(3) div
{
     color: rgb(210, 221, 191);
     letter-spacing: 1px;
     font-weight: bold;
}


/* footer section  */

footer{
    height: 60px;
    width: 100%;
    background-color: var(--foot-pale-green);
    margin: 5px 0px;
    padding: 10 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul{
    /* background-color: red; */
    min-width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer ul li{
    display: flex;

}


footer img
{
    width: auto;
    height: 40px;
}


























@media (max-width: 700px) {
   
    .head_nav-sec1
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .head_nav-sec1 li:first-child a p:last-child{
    font-size: 15px;
    font-family: 'Titan One', sans-serif;   
    font-weight: 200; 
   }

     .head_nav-sec1 li:last-child{
        /* background-color: red; */
        width: 100%;
        
     }


     
     header nav{
        width: 60%;
     }
  
   .head_nav-sec2 li a
   {
      font-size: 10px;
   }

   /* .main-sec1-plants-type-ul 
   {
    flex-direction: column;
     bottom: 0;
   } */
   .main-sec1-wallpaper
   {
    height: 120vh;
   }

}

@media (max-width: 800px) {

    .main-sec1-plants-type-ul 
    {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        justify-content: space-evenly;
    }
    
    .main-sec1-plants-type-ul li:first-child
    {
        margin-top: 20px;
    }
    
    .main-sec-1 
    {
        min-height: 145vh;
    }
 
}





@media (max-width: 900px) {


    .main-sec1-plants-type-ul li
    {
       
       width: 170px;
      /* background-color: red; */
    }
    
    .main-sec1-plants-type-ul li img{
        width: 120px;
        height: 120px;
    
    
    }
    
    .main-sec1-plants-type-ul li figcaption
    {
        font-size: 0.6rem;
        margin-top: 5px;
    }

/*section2 our plants  */
.main-sec-2
{
   

}

.main-sec2-plant-types
{
  flex-direction: column;
  align-items: center;
}


.main-sec2-plant-types p span
{ 
    /* color: yellow; */
    text-transform: uppercase;

}





}